.todo_list{
    height: 54vh;
    z-index: 2;
    background: transparent;
    width: 88%;
    list-style: none;
    border-radius: 6px;
    overflow-y:auto;
    margin-top: 124px;
}
.todo_list-ul{
    list-style: none;
}

.loading_skeleton{
    animation-duration: 0.8s;
    animation-fill-mode: forwrads;
    animation-iteration-count: infinite;
    animation-name: preloadAnimation;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    display: flex;
    min-height: 54vh;
}

@keyframes preloadAnimation{
    0%{
        background-position: -59vw;
    }
    100%{
        background-position: 59vw;
    }
}

.todoCreate_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.todoCreate_container img{
    height: 40vh;
    width: 280px;
}
.todoCreate_container h2{
    font-size: 20px;
    color: darkviolet;
    margin-bottom: 10px;
}
.todoSearch_noEncontrado{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 20px;
}
.todoSearch_noEncontrado h2{
    font-size: 20px;
    color: darkviolet;
    margin-bottom: 10px;
}
.todoSearch_noEncontrado img{
    height: 40vh;
    width: 280px;
}